[submodule "Chipmunk2D"]
	path = Chipmunk2D
	url = https://github.com/kennethdmiller3/Chipmunk2D.git
[submodule "GLFW"]
	path = GLFW
	url = https://github.com/glfw/glfw.git
[submodule "TinyXML2"]
	path = TinyXML2
	url = https://github.com/leethomason/tinyxml2.git
